html,
body {
  background-color: #f4f4f4;
  border-color: #282222;
  color: #282222;
  font-family: "Gotham,Sofia,Courier,Arial,sans-serif";
}

h1 {
  color: #ff725c;
  font-family: "Surveyor,Bodoni";
}

h3 {
  color: #353820;
  font-family: "Circular,Gotham,Ogonek-Light";
}

a:hover {
  color: #ff725c;
}

button {
  background-color: #e8fdf5;
  border-radius: 2px;
}
